<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="google" value="notranslate">
	<title>adrien bihorel</title>
	<meta name="name" content="adrien bihorel's proof of existence"/>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<meta name="format-detection" content="telephone=no"/>
	<style>{% include styles_critical.css %}</style>
	<link type="text/css" rel="stylesheet" href="assets/styles/styles_main.css"/>
	<script type="text/javascript" src="assets/scripts/head.js"></script>
</head>
